@media (max-width: 1440px) {
  .service__img1{
    width: 291px;
  }
  .service__text{
    font-size: 14px;
  }
  .service__title{
    font-size: 32px;
  }
  .our__img{
    width: 387px;
  }
  .our:after{
    width: 767px;
    height: 1455px;
  }
  .stage__row:before{
    width: 1123px;
    bottom: 507px;
  }
  .insta__img1{
    width: 261px;
  }
  .catalog__row{
    flex-direction: column;
    row-gap: 63px;
  }
  .footer__icons:before{
    left: 87px;
  }
  .footer__lists:before{
    width: 1227px;
    height: 978px;
  }
  .footer__icons{
    column-gap: 36px;
    font-size: 35px;
  }
  .menu__top{
    column-gap: 411px;
  }
  .footer__btn{
    left: 1183px;
  }
  .blog1__row{
    display: block;
  }
  .footer__icons:before {
    left: -200px;
  }
  .footer__btn {
    left: 992px;
  }
  .blog2__img-1{
    width: 661px;
    height: 661px;
  }
  .footer__icons:before {
    left: 0px;
  }
  .connect__row{
    display: block;
  }
  .connect__left, .connect__label{
    display: flex;
    flex-direction: column;
  }
  .contacts__row{
    column-gap: 85px;
  }
  .description__img-three {
    width: 370px;
  }
  .description__img {
    width: 564px;
  }
  .design__card:after{
    width: 1033px;
  }
  .design__row:after{
    left: 180px;
  }
  .design__row:before{
    right: 457px;
  }
  .process__img-top{
    width: 50%;
  }
  .process__row{
    column-gap: 468px;
  }
  .projects__img{
    width: 100%;
  }
  .garant__number{
    font-size: 34px;
  }
  .stage__btn {
    font-size: 24px;
    padding: 35px 30px;
  }
  .result__card-grey:before{
    display: none;
  }
  .blog__btn{
    position: static;
  }
}

@media (max-width: 1200px) {
  .price__card-icon{
    width: 583px;
  }
  .call__form{
    padding: 109px 156px;
  }
  .price__card2:after{
    display: none;
  }
  .service__img1{
    width: 236px;
  }
  .our:after {
    width: 699px;
    height: 1376px;
  }
  .our__img {
    width: 326px;
  }
  .stage__row:before{
    width: 978px;
  }
  .insta__img1 {
    width: 251px;
  }
  .footer__icons:before{
    left: 97px;
    top: -324px;
  }
  .footer__btn{
    left: 1016px;
  }
  .footer__lists:before{
    width: 1037px;
  }
  .footer__btn{
    display: none;
  }
  .footer__icons{
    column-gap: 11px;
  }
  .menu__top{
    margin-bottom: 11px;
  }
  .menu__links{
    row-gap: 20px;
  }
  .question1 {
    padding: 480px 103px 377px;
  }
  .question1__row{
    column-gap: 55px;
  }
  .question1__box{
    font-size: 22px;
    width: 236px;
    height: 188px;
  }
  .swiperPrice{
    width: 1024px;
    height: 551px;
  }
  .question2__img {
    width: 261px;
  }
  .question2__title{
    margin-top: 0;
  }
  .question2{
    margin-top: 20px;
  }
  .question3__btn{
    width: 383px;
    height: 106px;
  }
  .question3{
    gap: 33px 51px;
    margin-top: 49px;
  }
  .question6{
    position: relative;
    bottom: 19px;
  }
  .question6__title{
    margin-top: 0;
  }
  .question6__btn{
    padding: 15px 195px;
    margin-top: 16px;
  }
  .garant__title-text{
    font-size: 24px;
  }
  .stage__img{
    width: 85px;
  }
  .stage__title{
    font-size: 25px;
  }
  .stage__text{
    font-size: 23px;
  }
  .get__row{
    flex-wrap: wrap;
    column-gap: 150px;
  }
  .get__card{
    width: calc(50% - 75px);
  }
  .review__img {
    width: 548px;
    height: 525px;
  }
  .group__img{
    width: 220px;
    height: 220px;
  }
  .group__row{
    gap: 137px 183px;
  }
  .blog__btn{
    left: 0;
  }
  .footer__icons:before {
    display: none;
  }
  .price__card-icon{
    display: block;
    width: 500px;
  }
  .blog2__img-1 {
    width: 530px;
    height: 530px;
  }
  .contacts__icons{
    display: block;
  }
  .description__img {
    width: 482px;
  }
  .description__img-three {
    width: 314px;
  }
  .design__card:after {
    width: 967px;
  }
  .design__img{
    width: 445px;
  }
  .design__text{
    font-size: 8px;
  }
  .design__title {
    font-size: 19px;
    width: 283px;
  }
  .design__row:after {
    left: 154px;
  }
  .process__title {
    font-size: 20px;
  }
  .process__subtitle {
    font-size: 19px;
    margin: 13px 0;
  }
  .process__comment-black, .process__comment-grey {
    padding: 8px 19px 55px;
    width: 279px;
  }
  .result__row {
    column-gap: 91px;
  }
  .stage__row:before{
    display: none;
  }
  .stage__row{
    gap: 135px 51px;
  }
}

@media (max-width: 1024px) {
  .footer__icons{
    font-size: 30px;
  }
  .menu__top{
    column-gap: 324px;
  }
  .price__card-icon{
    width: 545px;
  }
  .stage__row:before {
    width: 955px;
  }
  .insta__img1 {
    width: 241px;
  }
  .footer__lists:before {
    width: 1022px;
  }
  .footer__bottom{
    color: white;
  }
  .call__form{
    padding: 86px 129px;
  }
  .connect__textarea{
    width: 596px
  }
  .description__img {
    width: 465px;
  }
  .description__img-three {
    width: 304px;
  }
  .design__card:after {
    width: 937px;
  }
  .request__title {
    font-size: 18px;
  }
  .request__btn{
    font-size: 23px;
    padding: 35px 118px;
  }
  .request__row{
    padding: 46px 51px;
  }
  .process__comment-grey{
    right: 343px;
  }
  .process__row{
    column-gap: 400px;
  }
  .garant__title-text {
    font-size: 20px;
  }
  .service__item {
    font-size: 20px;
  }
}

@media (max-width: 992px) {
  .footer__icons:before{
    display: none;
  }
  .price__row{
    flex-direction: column;
  }
  .service__row{
    flex-wrap: wrap;
  }
  .service__card{
    width: 50%;
  }
  .service__img1 {
    width: 365px;
  }
  .our__row{
    margin-bottom: 63px;
    column-gap: 0;
  }
  .our__card{
    width: 50%;
    position: relative;
  }
  .our__info{
    position: absolute;
    z-index: 20;
    bottom: 24px;
    left: 61px;
  }
  .our__title{
    color: #FFFFFF;
    font-size: 18px;
  }
  .our__subtitle{
    color: #FFFFFF;
    font-size: 18px;
  }
  .our__square{
    color: #FFFFFF;
    font-size: 14px;
    margin: 0;
  }
  .our:after {
    width: 564px;
    height: 1357px;
    right: 57px;
  }
  .stage__row:before{
    display: none;
  }
  .stage__text{
    font-size: 16px;
  }
  .stage__title{
    font-size: 22px;
  }
  .insta__card{
    width: calc(50% - 21px);
  }
  .insta__img1{
    width: 363px;
  }
  .footer__lists:before {
    display: none;
    }
  .footer__lists:after{
    content: '';
    position: absolute;
    background: url("../images/footer/footerbg-2.png") center/cover no-repeat;
    width: 762.58px;
    height: 590.14px;
    bottom: -50px;
    left: -19px;
    z-index: -1;
  }
  .footer__lists{
    column-gap: 22px;
    margin-bottom: 16px;
  }
  .menu__link{
    font-size: 27px;
  }
  .footer__icons{
    font-size: 16px;
  }
  .footer__bottom{
    text-align: right;
    color: black;
  }
  .menu__top{
    column-gap: 198px;
  }
  .call__form{
    padding: 65px 46px;
  }
  .garant__title-text {
    font-size: 14px;
  }
  .garant__row{
    column-gap: 37px;
  }
  .threed__title{
    font-size: 28px;
  }
  .threed__row{
    column-gap: 67px;
  }
  .threed__subtitle{
    font-size: 13px;
  }
  .stage__title {
    font-size: 19px;
  }
  .stage__img{
    width: 51px;
  }
  .review__img {
    width: 408px;
    height: 405px;
  }
  .review__card-img {
    width: 150px;
    height: 150px;
  }
  .group__text, .review__text, .group__title, .group__subtitle{
    font-size: 15px;
    line-height: normal;
  }
  .review__card{
    column-gap: 0;
  }
  .group__img{
    width: 150px;
    height: 150px;
  }
  .group__row {
    gap: 80px 104px;
  }
  .request__btn{
    font-size: 18px;
    padding: 7px 63px
  }
  .request__title{
    font-size: 16px;
  }
  .request__row{
    padding: 54px 58px;
  }
  .footer{
    padding-top: 250px;
  }
  .blog1 {
    padding: 12px 40px 112px;
  }
  .blog2__img-1 {
    width: 320px;
    height: 320px;
  }
  .contacts__row{
    column-gap: 40px;
  }
  .connect {
    padding: 0 40px 21px;
  }
  .description__row{
    column-gap: 174px;
  }
  .description__img {
    width: 353px;
  }
  .description__img-three {
    width: 229px;
  }
  .description__text{
    font-size: 17px;
  }
  .description__top-block {
    padding: 31px 35px 21px 30px;
  }
  .description__top-title {
    font-size: 23px;
  }
  .description__top-subtitle {
    font-size: 16px;
  }
  .description__top-square{
    font-size: 14px;
  }
  .description__top-name {
    font-size: 19px;
    margin-top: 20px;
  }
  .design {
    padding: 12px 18px 13px;
  }
  .design__card:after {
    width: 806px;
  }
  .design__img {
    width: 386px;
  }
  .design__row:before {
    right: 399px;
    height: 2222px;
  }
  .design__row:after {
    left: 128px;
    height: 2222px;
  }
  .process__row {
    column-gap: 213px;
  }
  .process__comment-grey {
    right: 190px;
  }
  .projects__btn {
    font-size: 15px;
    padding: 20px 21px;
  }
  .projects__title{
    font-size: 18px;
  }
  .projects__subtitle{
    font-size: 16px;
  }
  .projects__square {
    font-size: 13px;
    margin-top: 7px;
  }
  .garant__number {
    font-size: 23px;
  }
  .result__row {
    column-gap: 44px;
  }
  .result__text {
    font-size: 20px;
    line-height: normal;
  }
  .stage__btn {
    font-size: 18px;
    padding: 17px 16px;
    column-gap: 12px;
  }
  }

@media (max-width: 767px) {
  .garant__number{
    font-size: 30px;
  }
  .garant__title-text{
    font-size: 16px;
  }
  .garant__row{
    column-gap: 33px;
  }
  .service__img1 {
    width: 270px;
  }
  .our__img {
    width: 269px;
  }
  .our:after {
    width: 417px;
    height: 1165px;
    right: 19px;
  }
  .stage__text {
    font-size: 13px;
  }
  .stage__number, .price__title{
    font-size: 35px;
  }
  .stage__row{
    gap: 83px 62px;
  }
  .we__item{
    font-size: 17px;
  }
  .insta__img1 {
    width: 267px;
  }
  .catalog__input{
    padding-right: 344px;
  }
  .footer__lists:after{
    width: 557.58px
  }
  .footer__list-title{
    font-size: 15px;
  }
  .footer__item{
    font-size: 9px;
  }
  .footer__icons{
    position: relative;
    top: -93px;
  }
  .menu__top {
    column-gap: 121px;
  }
  .footer{
    padding: 167px 0 0;
  }
  .call__input{
    width: 385px;
  }
  .call__form{
    padding: 40px 54px;
  }
  .call__btn{
    padding: 36px 63px;
  }
  .call__exit{
    right: 21px;
  }
  .garant__number{
    font-size: 34px;
  }
  .threed__garant{
    font-size: 13px;
  }
  .garant__title-text {
    font-size: 10px;
  }
  .threed__stage{
    gap: 11px 51px;
  }
  .stage__title {
    font-size: 14px;
  }
  .review__img{
    display: none;
  }
  .group__img {
    width: 100px;
    height: 100px;
  }
  .group__row{
    align-items: normal;
    justify-content: normal;
  }
  .blog__title, .blog__text{
    font-size: 15px;
    line-height: normal;
  }
  .blog__row{
    gap: 44px 180px;
    justify-content: normal;
  }
  .blog__row:after {
    height: 1011px;
    left: 181px;
  }
  .blog1__img-content{
    width: 452px;
  }
  .blog1__line{
    position: relative;
    bottom: 192px;
  }
  .blog2__row{
    display: block;
  }
  .contacts {
    padding: 12px 40px 62px;
  }
  .contacts__text, .contacts__card-title{
    font-size: 19px;
    line-height: normal;
  }
  .connect__textarea, .connect__input{
    width: 392px;
  }
  .request__row{
    margin-bottom: 81px;
  }
  .description__img {
    width: 258px;
  }
  .description__img-three {
    width: 165px;
  }
  .description__row{
    column-gap: 57px;
  }
  .design__title {
    font-size: 11px;
    height: 37px;
  }
  .design__card:after {
    width: 675px;
  }
  .design__img {
    width: 321px;
  }
  .design__card{
    column-gap: 18px;
  }
  .design__card:after {
    width: 584px;
  }
  .design__row:before {
    right: 325px;
  }
  .design__row:after {
    left: 73px;
  }
  .process__number{
    font-size: 38px;
  }
  .process__text {
    font-size: 14px;
    line-height: normal;
  }
  .process__left{
    column-gap: 0;
  }
  .process__row {
    column-gap: 87px;
  }
  .process__comment-grey {
    right: 80px;
  }
  .projects__line{
    position: relative;
    bottom: 100px;
  }
  .garant__number {
    font-size: 20px;
  }
  .result__row {
    column-gap: 20px;
  }
  .result__text {
    font-size: 15px;
  }
  .stage__block{
    column-gap: 4px;
  }
  .stage__btn {
    font-size: 12px;
    padding: 9px 3px;
  }
}

@media (max-width: 576px) {
  .best__title{
    font-size: 34px;
  }
  .best__btn{
    padding: 8px 27px;
  }
  .garant__row{
    flex-direction: column;
    row-gap: 20px;
  }
  .service__img1{
    width: 193px;
  }
  .price__card-title{
    font-size: 30px;
  }
  .price__card-text{
    font-size: 23px;
    line-height: normal;
  }
  .price__card-icon {
    width: 389px;
  }
  .price__card-subtitle{
    margin-top: 0;
  }
  .service__img:before{
    display: none;
  }
  .service__title {
    font-size: 23px;
    margin-top: 23px;
    &:before{
      width: 10px;
      height: 10px;
      top: 9px;
    }
  }
  .our__img {
    width: 193px;
  }
  .our:after{
    display: none;
  }
  .our__title, .our__subtitle{
    font-size: 12px;
  }
  .our__info{
    left: 22px;
  }
  .stage__card{
    width: calc(50% - 54px);
  }
  .stage__btn{
    padding: 35px 51px;
  }
  .insta__img1 {
    width: 192px;
  }
  .catalog__title{
    font-size: 23px;
  }
  .catalog__subtitle{
    font-size: 20px;
    margin: 22px 0 39px;
  }
  .catalog__input {
    padding-right: 171px;
  }
  .catalog__btn{
    font-size: 28px;
    padding: 26px 65px;
  }
  .footer__lists:after{
    width: 423px;
    height: 400px;
    bottom: -40px;
  }
  .footer__bottom{
    text-align: left;
    color: #BDBDBD;
    font-size: 11px;
  }
  .none{
    display: none;
  }
  .footer__item {
    font-size: 22px;
  }
  .footer__list-title {
    font-size: 25px;
  }
  .footer__icons{
    top: 17px;
  }
  .footer__logo{
    display: block;
    width: 125px;
  }
  .footer{
    padding: 0;
  }
  .menu__top{
    column-gap: 51px;
  }
  .menu__icons{
    font-size: 22px;
  }
  .best__header{
    padding: 41px 29px 36px
  }
  .call__input{
    width: 385px;
  }
  .call__form{
    padding: 40px 9px;
  }
  .call__btn{
    padding: 36px 63px;
  }
  .call__exit{
    right: 21px;
  }
  .threed__title {
    font-size: 12px;
    margin: 69px 0 61px
  }
  .threed__row{
    column-gap: 24px;
  }
  .threed__subtitle {
    font-size: 11px;
  }
  .get__img{
    width: 73px;
  }
  .get__title{
    font-size: 14px;
  }
  .get__row{
    padding: 32px 45px;
  }
  .group__card{
    display: block;
  }
  .blog, .threed{
    padding: 55px 23px 14px;
  }
  .blog__card-btn{
    padding: 12px 19px
  }
  .blog__row:after {
    left: 156px;
  }
  .blog1__img-content {
    width: 352px;
  }
  .blog2__img {
    width: 289px;
    margin-bottom: 0;
  }
  .blog2 {
    padding: 12px 42px 134px;
  }
  .contacts__text, .contacts__card-title {
    font-size: 11px;
  }
  .connect__textarea, .connect__input {
    width: 267px;
  }
  .description__top-block {
    padding: 15px 18px 7px 14px;
  }
  .description__top-title {
    font-size: 15px;
  }
  .description__top-subtitle {
    font-size: 12px;
    margin: 8px 0;
  }
  .description__btn{
    padding: 20px 23px;
  }
  .description__text {
    font-size: 13px;
    line-height: normal;
  }
  .description__img {
    width: 182px;
  }
  .description__img-three {
    width: 115px;
  }
  .description__title {
    font-size: 16px;
  }
  .design__img {
    width: 200px;
  }
  .design__card:after {
    width: 476px;
  }
  .design__row:before, .design__row:after{
    display: none;
  }
  .design__text{
    line-height: normal;
  }
  .design__card{
    column-gap: 0;
  }
  .process__row{
    display: block;
  }
  .process__comment-grey{
    position: static;
    margin-top: 20px;
  }
  .projects__btns{
    column-gap: 5px;
  }
  .projects__btn {
    font-size: 12px;
    padding: 11px 9px;
  }
  .projects__title {
    font-size: 13px;
  }
}

@media (max-width: 425px) {
  .best__btns{
    column-gap: 12px;
  }
  .best__title{
    margin: 129px 0 127px;
  }
  .price__btn{
    font-size: 20px;
    padding: 30px 49px;
  }
  .price__info{
    font-size: 24px;
  }
  .price__card-icon {
    width: 356px;
  }
  .service__img1 {
    width: 169px;
  }
  .service__text {
    font-size: 11px;
  }
  .our__img {
    width: 169px;
  }
  .stage__btn {
    padding: 29px 28px;
  }
  .insta__img1 {
    width: 167px;
  }
  .catalog__input {
    padding-right: 139px;
  }
  .footer__lists:after{
    width: 367px;
  }
  .footer__icons{
    column-gap: 9px;
  }
  .best__header{
    padding: 21px;
  }
  .best__btn{
    font-size: 18px;
  }
  .garant__row{
    padding: 37px 61px 41px
  }
  .price__card-icon {
    width: 300px;
  }
  .service__img1{
    width: 282px;
  }
  .service__row{
    flex-direction: column;
    row-gap: 20px;
  }
  .service__title {
    font-size: 30px;
    margin-top: 12px;
  }
  .our__row{
    flex-direction: column;
    align-items: normal;
  }
  .our__img {
    width: 286px;
  }
  .our__subtitle, .our__title{
    font-size: 22px;
  }
  .stage__btn {
    padding: 23px 11px;
    font-size: 28px;
  }
  .insta__img1 {
    width: 133px;
  }
  .catalog__input {
    padding-right: 90px;
  }
  .footer__lists:after {
    width: 324px;
  }
  .menu__top{
    column-gap: 21px;
  }
  .menu__link {
    font-size: 19px;
  }
  .menu__icons{
    column-gap: 19px;
  }
  .call__form{
    padding: 45px 14px;
  }
  .call__input{
    width: 286px;
  }
  .call__btn{
    font-size: 25px;
    padding: 36px 52px
  }
  .call__exit {
    top: 10px;
    right: 7px;
  }
  .threed__subtitle {
    font-size: 9px;
  }
  .stage__img {
    width: 41px;
  }
  .stage__title {
    font-size: 12px;
  }
  .review__btn{
    font-size: 18px;
    padding: 26px 40px;
  }
  .blog1__img-content {
    width: 252px;
  }
  .blog2__img-1 {
    width: 265px;
    height: 265px;
  }
  .blog__text {
    font-size: 10px;
  }
  .footer__icons{
    column-gap: 4px;
  }
  .connect__btn{
    padding: 21px 75px;
  }
  .connect {
    padding: 0 21px 21px;
  }
  .contacts {
    padding: 12px 21px 62px;
  }
  .description__img {
    width: 157px;
  }
  .description__img-three {
    width: 98px;
  }
  .description__subtitle{
    font-size: 17px;
  }
  .description__square{
    font-size: 14px;
  }
  .design__card{
    display: block;
  }
  .design__text {
    font-size: 16px;
    margin: 10px 0;
  }
  .design__card:after {
    width: 426px;
  }
  .design__card:after {
    width: 374px;
  }
}
@media (max-width: 375px) {
  .blog2__img {
    width: 235px;
    margin-bottom: 0;
  }
  .blog2__text {
    font-size: 12px;
    line-height: normal;
  }
  .blog2__title {
    font-size: 23px;
    line-height: normal;
  }
  .request__row{
    display: block;
  }
  .footer__icons{
    display: none;
  }
  .blog__row {
    gap: 44px 146px;
  }
  .blog__row:after {
    left: 129px;
  }
  .blog__btn{
    padding: 20px 30px;
  }
  .connect__textarea, .connect__input {
    width: 224px;
  }
  .contacts__row{
    column-gap: 10px;
  }
  .connect__btn {
    padding: 21px 51px;
  }
  .description__top-block {
    padding: 5px;
  }
  .description__top-title {
    font-size: 12px;
  }
  .description__top-subtitle {
    font-size: 9px;
    margin: 0;
  }
  .description__top-name {
    font-size: 14px;
    margin-top: 5px;
  }
  .description__img {
    width: 129px;
  }
  .description__img-three {
    height: 112px;
    width: 81px;
  }
  .description__row{
    column-gap: 28px;
  }
  .projects__subtitle {
    font-size: 11px;
  }
  .projects__title {
    font-size: 11px;
  }
}
