.repair{
  padding: 12px 100px 0;
  &__title{
    font-weight: 500;
    font-size: 28px;
    background: #FAFF09;
    width: 445px;
    padding: 13px 0 13px 20px;
    color: #000000;
    margin: 72px 0 29px;
  }
  &__card{
    display: flex;
    column-gap: 9px;
    position: relative;
    &:after{
      content: '';
      position: absolute;
      border: 1px solid #E0E0E0;
      width: 1780px;
      bottom: -30px;
      left: -90px;
    }
  }
  &__subtitle{
    font-weight: 300;
    font-size: 24px;
    color: #4F4F4F;
  }
  &__bottom{
    display: flex;
    column-gap: 10px;
    align-items: center;
    justify-content: center;
  }
  &__block{
    width: 10px;
    height: 10px;
    background: black;
  }
}