.request{
  padding: 40px 0;
  &__row{
    background: #F2F2F2;
    padding: 111px 91px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__title{
    font-weight: 500;
    font-size: 36px;
    color: #000000;
  }
  &__btn{
    font-weight: 300;
    font-size: 36px;
    color: #F2F2F2;
    padding: 35px 200px;
    background: #000000;
    border: 1px solid #000000;
    cursor: pointer;
  }
}