.service{
  padding: 85px 0 68px;
  &__row{
    display: flex;
    column-gap: 0;
    margin-top: 80px;
  }
  &__title{
    font-weight: 500;
    font-size: 48px;
    color: #0E0E0E;
    position: relative;
    margin: 69px 0 23px;
    &:before{
      content: '';
      position: absolute;
      width: 20px;
      height: 20px;
      background: #4F4F4F;
      top: -16px;
      left: -12px;
    }
  }
  &__text{
    font-weight: 400;
    font-size: 18px;
    line-height: 147.19%;
    color: #4F4F4F;
  }
  &__img{
    position: relative;
    z-index: 20;
    &:before{
      content: '';
      position: absolute;
      width: 180px;
      height: 291px;
      background: #F5F5F5;
      bottom: -20px;
      left: 36px;
      z-index: -1;
    }
  }
  &__list{
    position: relative;
    z-index: 10;
    &:before{
      content: '';
      position: absolute;
      width: 180px;
      height: 291px;
      left: 0;
      top: -28px;
      background: #F5F5F5;
      z-index: -1;
    }
  }
  &__item{
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    color: #4F4F4F;
  }
}